@model IEnumerable<BookShelph.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div id="modal-placeholder"></div>

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Book
                <span class="d-block text-muted pt-2 font-size-sm">Index</span>
            </h3>
        </div>
        <div class="card-toolbar">

            <!--begin::Button-->
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-book" data-url="@Url.Action("Create", "Books")">
                Add Book
            </button>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_TablePartial", Model)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#books').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],

            });
        });
    </script>
}
