@model IEnumerable<BookShelph.Models.Narrator>

@{
    ViewData["Title"] = "Index";
}

<div id="modal-placeholder"></div>

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Narrator
                <span class="d-block text-muted pt-2 font-size-sm">Index</span>
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-narrator" data-url="@Url.Action("Create", "Narrators")">
                Add Narrator
            </button>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_TablePartial", Model)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#narrators').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "columnDefs": [
                    {
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        "render": function (data, type, row) {
                            return data + ' ' + row[1] + ' ' + row[2];
                        },
                        "targets": 0
                    },
                    { "visible": false, "targets": [1] },
                    { "visible": false, "targets": [2] },
                ]
            });
        });
    </script>
}
